{% extends "base.html" %}

{% block title %}Create Account{% endblock %}

{% block content %}
    <div class="title-box">
    <h1>Create Account</h1>
    </div>
    <form method="POST">
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Create Account</button>
    </form>
    <a href="{{ url_for('home') }}" class="back-arrow">&#8592;</a>

{% endblock %}