{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="title-box">
    <h1>CozyCorner</h1>
    <p>Track your personal book collection!</p>
    </div>
<div class="button-container">
    <form method="POST">
            {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <button type="submit">Login</button>
    </form>
    <button onclick="window.location.href='{{ url_for('create_account') }}'">Create Account</button>
</div>
{% endblock %}