{% extends "base.html" %}

{% block navigation %}
    <nav>
        <div class="user-info">
            {% if request.path == '/userBookShelf' %}
            {{ username }}'s BookShelf
            {% elif request.path == '/search_books' %}
                    Search for Books
            {% endif %}
            <a class="logout-button" href="{{ url_for('home') }}">Logout</a>
        </div>
        <ul>
        <li><a href="/userBookShelf">My BookShelf</a></li>
        <li><a href="/search_books">Search Books</a></li>



        </ul>
    </nav>
{% endblock %}